.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--colorPrimaryBg);
  border-right: 1px solid rgb(0 0 0 / 6%);
  box-shadow: 2px 0 4px 0 rgb(0 0 0 / 2%);
}

.bottom {
  padding: 48px 16px 16px;
  color: #999;

  .copyright {
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
  }
}

$accordionTriggerHeight: 48px;

.sidebarClassifiedPosts {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  color: var(--color3);
  background: var(--colorPrimaryBg);

  .category {
    display: flex;
    flex-direction: column;
    min-height: $accordionTriggerHeight;
  }

  .trigger {
    height: $accordionTriggerHeight;
    padding: 0 16px;

    &[data-state='open'] {
      color: #00c891;
    }

    .arrow {
      color: var(--colorPrimary);
    }
  }

  .posts {
    &[data-state='open'] {
      overflow: auto;
    }

    .post {
      padding: 0 16px;
      line-height: 48px;
      border-right: 2px solid transparent;

      &[data-selected='true'] {
        color: #00c891;
        background: var(--colorItemBg);
        border-right-color: #00c891;
      }
    }
  }
}
