@import 'src/styles/presets.module';
@import 'src/styles/variables.module';

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--colorPrimaryBg);
}

body {
  --contentAreaWidth: 1320px;
  --contentWrapperPadding: 32px;

  @media (max-width: $mobileBreakPoint) {
    --contentWrapperPadding: 24px;
  }
}

main {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// This is provided to `prepareColorSchemaClasses` in `_document.page.tsx`.
.themeLight {
  @include themeLight;
}

// This is provided to `prepareColorSchemaClasses` in `_document.page.tsx`.
.themeDark {
  @include themeDark;
}
