@import '../../styles/variables.module';

.contentWrapper {
  position: relative;

  @media (max-width: $mobileBreakPoint) {
    padding: 0 16px;
  }
}

.topShadow {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%);
  pointer-events: none;
}

.text1 {
  margin-top: 146px;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  text-align: center;

  .emphasis {
    position: relative;
    color: #00c891;
    white-space: nowrap;

    & > svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  @media (max-width: $mobileBreakPoint) {
    margin: 48px auto 0;
    font-size: 32px;
    line-height: 48px;
  }

  // This particular breakpoint value is set manually. This is to allow the `emphasis` to have a good presentation effect.
  @media (width <= 548px) {
    max-width: 320px;
  }
}

.text2 {
  max-width: 1058px;
  margin: 20px auto 0;
  font-size: 20px;
  line-height: 40px;
  text-align: center;

  @media (max-width: $mobileBreakPoint) {
    margin-top: 8px;
    font-size: 16px;
    line-height: 32px;
  }
}

.neuronOverview {
  margin-top: 32px;
  padding: 24px;
  background: linear-gradient(180deg, rgb(54 54 54 / 40%) 0%, rgb(29 29 29 / 20%) 100%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 33px;
  backdrop-filter: blur(39.5px);

  & > img {
    width: 100%;
    height: auto;
    border-radius: 32px;
    backdrop-filter: blur(39.5px);
  }

  @media (max-width: $mobileBreakPoint) {
    padding: 6px;
  }
}

.btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 232px;
  min-height: 72px;
  font-weight: 600;
  font-size: 16px;
  background: #000;
  border-radius: 12px;
  cursor: pointer;

  @media (max-width: $mobileBreakPoint) {
    min-width: 224px;
    min-height: 56px;
  }
}

.btnDownload {
  flex-direction: column;
  gap: 6px;
  color: #000;
  background: #00c891;

  .secondary {
    font-weight: 400;
    font-size: 14px;
  }
}

.btnGithub {
  gap: 8px;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
}

.actions {
  display: flex;
  gap: 48px;
  justify-content: center;
  margin-top: 56px;

  @media (max-width: $mobileBreakPoint) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-self: end;
    margin-top: 42px;
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 308px;
  margin-top: 384px;

  @media (max-width: $mobileBreakPoint) {
    gap: 120px;
    margin-top: 120px;
  }

  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(even) {
      > img {
        order: 2;
      }
    }

    .textWrapper {
      display: flex;
      flex: 0.663;
      flex-direction: column;
      gap: 32px;

      .title {
        font-weight: 600;
        font-size: 24px;
      }

      .description {
        color: #999;
        font-size: 16px;
        line-height: 32px;
      }
    }

    @media (max-width: $mobileBreakPoint) {
      flex-direction: column;
      gap: 24px;

      > img {
        order: 2;
        max-width: 300px;
        height: auto;
      }

      .textWrapper {
        gap: 16px;
        text-align: center;

        .title {
          font-size: 22px;
        }
      }
    }
  }
}

.getNeuron {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 438px;
  margin-bottom: 326px;

  .bottomShadow {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
  }

  .text3 {
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
  }

  .text4 {
    margin-top: 24px;
    line-height: 32px;
  }

  .download {
    margin-top: 60px;
  }

  @media (max-width: $mobileBreakPoint) {
    margin-top: 152px;
    margin-bottom: 192px;

    .text3 {
      font-size: 22px;
    }

    .text4 {
      margin-top: 8px;
    }

    .download {
      margin-top: 24px;
    }
  }
}
