.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 0 24px 0 16px;
  background: var(--colorPrimaryBg);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 8%);

  .left {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .right {
    display: flex;
    align-items: center;
  }
}

.search {
  margin-right: 52px;
}

.colorSchema {
  margin-right: 24px;
}

.languageMenu {
  display: flex;
  gap: 4px;
  align-items: center;
}
