.languages {
  margin-top: 40px;

  .title {
    color: var(--colorPrimary);
    font-weight: 600;
    font-size: 16px;
  }

  .languageItem {
    display: block;
    margin-top: 24px;
    color: #666;
    font-size: 14px;

    &:first-of-type {
      margin-top: 32px;
    }

    &.selected {
      color: var(--colorPrimary);
    }
  }
}
