@import '../../styles/variables.module';

.page {
  width: 100%;
}

.contentWrapper {
  padding-bottom: 88px;

  @media (max-width: $mobileBreakPoint) {
    padding-bottom: 160px;
  }
}

.neuron {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 600;
  font-size: 26px;

  .name {
    margin-top: 6px;
  }

  @media (max-width: $mobileBreakPoint) {
    font-size: 18px;

    > img {
      max-width: 32px;
      height: auto;
    }

    .name {
      margin-top: 4px;
    }
  }
}

.text1 {
  margin-top: 24px;
  font-weight: 700;
  font-size: 40px;

  @media (max-width: $mobileBreakPoint) {
    font-weight: 600;
    font-size: 22px;
  }
}

.text2 {
  margin-top: 24px;
  font-size: 20px;

  & > a {
    color: #00c891;
  }

  @media (max-width: $mobileBreakPoint) {
    margin-top: 16px;
    font-size: 16px;
    line-height: 32px;
  }
}

.releases {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 32px 0;
  margin-top: 56px;

  .left {
    flex-shrink: 0;
    padding-top: 48px;
    padding-right: 40px;
    font-weight: 600;
    font-size: 18px;
    border-top: 1px solid #333;
  }

  .right {
    min-width: 0;
    padding-top: 48px;
    word-break: break-word;
    border-top: 1px solid #333;

    & > :first-child {
      margin-top: 0;
    }

    table {
      word-break: initial;
    }

    a {
      color: #00c891;
    }

    img {
      max-width: 100%;
    }
  }

  @media (max-width: $mobileBreakPoint) {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-top: 24px;

    .left {
      padding-top: 32px;
      padding-right: 0;
      color: #999;
      font-weight: 400;
      font-size: 16px;
    }

    .right {
      padding-top: 0;
      border-top: 0;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 72px;

  .gotoTop {
    cursor: pointer;

    &:hover {
      color: #00c891;
    }
  }

  .pagingActions {
    display: flex;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-radius: 12px;

    .pagingAction {
      display: flex;
      box-sizing: content-box;
      padding: 16px 40px;
      color: #f5f5f5;

      &.disabled {
        color: #7a7a7a;
      }

      &:not(.disabled):hover {
        color: #00c891;
      }

      .next {
        transform: rotate(180deg);
      }

      @media (max-width: $mobileBreakPoint) {
        padding: 16px 24px;
      }
    }

    .dividing {
      width: 1px;
      height: 24px;
      background: #e8e2fa;
    }
  }

  @media (max-width: $mobileBreakPoint) {
    margin-top: 40px;
  }
}
