.timeline {
  position: relative;

  .item {
    padding-left: 24px;
    padding-bottom: 64px;
    position: relative;
    transition: all .3s;
    color: #646464;
  
    &.active {
      color: #fff;

      &::before {
        background: linear-gradient(180deg, #fff, #000);
      }
      &::after {
        background: #fff;
      }
    }


    &::before {
      content: " ";
      position: absolute;
      width: 1px;
      left: 0;
      top: 8px;
      bottom: -8px;
      transition: all .3s;
      background: #646464;
    }
    &::after {
      content: " ";
      width: 12px;
      height: 12px;
      position: absolute;
      top: 5px;
      left: -6px;
      border-radius: 999px;
      transition: all .3s;
      background-color: #646464;
    }
    .index {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 24px;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 12px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      line-height: 32px;
    }
  }

}

.splineWrapper {
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
