@use 'sass:math';

.toc {
  margin: 8px 0 24px 20px;
  border-left: 1px solid var(--tocBorder);
}

.tocItem {
  $fontSize: 14px;
  $lineHeightPX: 24px;
  $lineHeight: 100% * math.div($lineHeightPX, $fontSize);

  position: relative;
  margin-top: 28px;
  padding: 0 16px;
  color: #999;
  font-size: $fontSize;
  line-height: $lineHeight;

  &::after {
    position: absolute;
    top: #{$fontSize * math.div($lineHeight, 200%)};
    left: 0;
    display: none;
    width: 8px;
    height: 8px;
    background-color: #00c891;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: ' ';
  }

  &:hover {
    color: #00c891;
  }

  &.active {
    color: #00c891;

    &::after {
      display: block;
    }
  }
}

.tocAnchor {
  display: block;
  overflow: hidden;
  word-break: break-word;
}
