@use 'sass:math';

$dotSize: 8px;

.toc {
  position: relative;
  margin: 8px 0 24px 20px;
  padding-left: $dotSize / 2;
  overflow-y: auto;

  &::before {
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    float: left;
    width: 1px;
    height: 100%;
    background: var(--tocBorder);
    content: ' ';
  }
}

.tocItem {
  $fontSize: 14px;
  $lineHeightPX: 24px;
  $lineHeight: 100% * math.div($lineHeightPX, $fontSize);

  position: relative;
  margin-top: 28px;
  padding: 0 16px;
  color: #999;
  font-size: $fontSize;
  line-height: $lineHeight;

  &::after {
    position: absolute;
    top: #{$fontSize * math.div($lineHeight, 200%)};
    left: 0;
    display: none;
    width: $dotSize;
    height: $dotSize;
    background-color: #00c891;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: ' ';
  }

  &:hover {
    color: #00c891;
  }

  &.active {
    color: #00c891;

    &::after {
      display: block;
    }
  }
}

.tocAnchor {
  display: block;
  overflow: hidden;
  word-break: break-word;
}
