@import '../../styles/variables.module';

.page {
  width: 100%;

  .contentWrapper {
    padding-bottom: 144px;

    @media (max-width: $mobileBreakPoint) {
      padding-bottom: 160px;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .imgDownload {
        @media (max-width: $mobileBreakPoint) {
          max-width: 104px;
          height: auto;
        }
      }
    }
  }

  .assets {
    margin-top: 32px;

    @media (max-width: $mobileBreakPoint) {
      margin-top: 24px;
    }
  }

  .ckbNodeCompatible {
    margin-top: 88px;

    @media (max-width: $mobileBreakPoint) {
      margin-top: 56px;
    }
  }

  .compatibleTable {
    margin-top: 40px;

    @media (max-width: $mobileBreakPoint) {
      margin-top: 24px;
    }
  }
}

.neuron {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 600;
  font-size: 26px;

  .name {
    margin-top: 6px;
  }

  @media (max-width: $mobileBreakPoint) {
    font-size: 18px;

    > img {
      max-width: 32px;
      height: auto;
    }

    .name {
      margin-top: 4px;
    }
  }
}

.text1 {
  font-weight: 700;
  font-size: 40px;

  @media (max-width: $mobileBreakPoint) {
    font-weight: 600;
    font-size: 22px;
  }
}

.version {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #7a7a7a;
  border-radius: 40px;

  @media (max-width: $mobileBreakPoint) {
    margin-top: 4px;
    font-size: 14px;
    border-width: 0.5px;
  }
}
