.trigger {
  all: unset;
  display: flex;
}

.content {
  // TODO: Some styles are written for the checksum tooltip in the download page, and will be extracted later.
  max-width: 596px;
  margin-bottom: 7px;
  padding: 12px 16px;
  color: var(--colorPrimary);
  font-size: 16px;
  line-height: 200%;
  background: var(--colorBg1);
  border: 1px solid #414141;
  border-radius: 8px;
  backdrop-filter: blur(38px);
}

.arrow {
  fill: var(--colorBg1);
  stroke: #414141;
  stroke-width: 0.4px;
}
