@import '../../styles/variables.module';

.upsideDownEffect {
  position: relative;
  display: inline-flex;
  overflow: hidden;

  .nodes {
    display: flex;
    flex-direction: column;
    align-items: center;

    // width: 100%;
    transition: transform 0.4s ease;

    .content,
    .cloned {
      display: block;

      // width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: transform 0.4s ease;
    }

    .content {
      transform-origin: right center;
    }

    .cloned {
      position: absolute;
      top: 100%;
      transform: rotate(20deg);
      transform-origin: left center;
    }
  }

  &.fullWidth {
    width: 100%;

    .nodes {
      width: 100%;

      .content,
      .cloned {
        width: 100%;
      }
    }
  }

  &.fullHeight {
    height: 100%;

    .nodes {
      height: 100%;

      .content,
      .cloned {
        height: 100%;
      }
    }
  }
}

.hoverableContainer,
.upsideDownEffect {
  &:hover {
    .nodes {
      transform: translateY(-100%);

      .content {
        transform: rotate(20deg);
      }

      .cloned {
        transform: rotate(0);
      }
    }
  }
}
