.layout {
  display: flex;
  gap: var(--contentWrapperPadding);
  max-width: calc(var(--contentAreaWidth) + var(--contentWrapperPadding));
  margin: 0 auto;
  padding: var(--contentWrapperPadding);
}

.sidebar {
  flex: 0 0 200px;

  .post {
    display: block;
  }
}

.content {
  flex: 1;

  .img {
    max-width: 100%;
  }
}
